In [2]:
import numpy as np
import pandas as pd

ModuleNotFoundError: No module named 'numpy'

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [25]:
df=pd.read_excel(r'/content/drive/MyDrive/data-collabs/data.xlsx')
df

,NO,PTN,KODE PRODI,NAMA PRODI,RATAAN,S.BAKU,MIN,MAX
0,1,UNIVERSITAS INDONESIA,3211015,PENDIDIKAN DOKTER,74793,1963,72438,79855
1,2,UNIVERSITAS AIRLANGGA,3811014,PENDIDIKAN DOKTER,72694,2129,70254,80801
2,3,UNIVERSITAS PADJADJARAN,3331013,PENDIDIKAN DOKTER,71794,1869,69417,78052
3,4,UNIVERSITAS GADJAH MADA,3611066,KEDOKTERAN,72521,2708,68905,80984
4,5,UNIVERSITAS INDONESIA,3211166,ILMU KOMPUTER,71241,2413,68596,79866
...,...,...,...,...,...,...,...,...
495,496,UNIVERSITAS ANDALAS,1411114,SISTEM KOMPUTER,59845,1602,58223,65316
496,497,UNIVERSITAS NEGERI SEMARANG,3561142,PENDIDIKAN IPA,5946,1304,58214,63012
497,498,UNIVERSITAS NEGERI MALANG,3731184,ILMU KESEHATAN MASYARAKAT,59879,1746,58205,68701
498,499,UNIVERSITAS SRIWIJAYA,1711342,PSIKOLOGI,61253,1676,58197,64792
499,500,UNIVERSITAS BRAWIJAYA,3721263,AGROEKOTEKNOLOGI,59759,1354,58192,65566

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NO          500 non-null    int64
 1   PTN         500 non-null    object
 2   KODE PRODI  500 non-null    int64
 3   NAMA PRODI  500 non-null    object
 4   RATAAN      500 non-null    int64
 5   S.BAKU      500 non-null    int64
 6   MIN         500 non-null    int64
 7   MAX         500 non-null    int64
dtypes: int64(6), object(2)
memory usage: 31.4+ KB

In [27]:
df = df.drop(['NO'], axis=1)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PTN         500 non-null    object
 1   KODE PRODI  500 non-null    int64
 2   NAMA PRODI  500 non-null    object
 3   RATAAN      500 non-null    int64
 4   S.BAKU      500 non-null    int64
 5   MIN         500 non-null    int64
 6   MAX         500 non-null    int64
dtypes: int64(5), object(2)
memory usage: 27.5+ KB

In [29]:
df['KODE PRODI'] = df['KODE PRODI'].astype(str)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   PTN         500 non-null    object
 1   KODE PRODI  500 non-null    object
 2   NAMA PRODI  500 non-null    object
 3   RATAAN      500 non-null    int64
 4   S.BAKU      500 non-null    int64
 5   MIN         500 non-null    int64
 6   MAX         500 non-null    int64
dtypes: int64(4), object(3)
memory usage: 27.5+ KB

In [31]:
df.head()

,PTN,KODE PRODI,NAMA PRODI,RATAAN,S.BAKU,MIN,MAX
0,UNIVERSITAS INDONESIA,3211015,PENDIDIKAN DOKTER,74793,1963,72438,79855
1,UNIVERSITAS AIRLANGGA,3811014,PENDIDIKAN DOKTER,72694,2129,70254,80801
2,UNIVERSITAS PADJADJARAN,3331013,PENDIDIKAN DOKTER,71794,1869,69417,78052
3,UNIVERSITAS GADJAH MADA,3611066,KEDOKTERAN,72521,2708,68905,80984
4,UNIVERSITAS INDONESIA,3211166,ILMU KOMPUTER,71241,2413,68596,79866

In [33]:
# Cek Apakah ada null values
df.isnull().sum()

PTN           0
KODE PRODI    0
NAMA PRODI    0
RATAAN        0
S.BAKU        0
MIN           0
MAX           0
dtype: int64

In [35]:
df.duplicated().sum()

0

In [36]:
df.to_excel(r'./data.xlsx', index=None, header=True)
df.to_csv(r'./data.csv', index=False)